body {
    font-family: 'Roboto', sans-serif;
    background-color: #c5d5ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}